#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2022-2022. All rights reserved.
#===============================================================================
config RTC_MAX_RTCS_NUM
    int
    prompt "Max number of the RTC."
    default 16
    depends on DRIVER_SUPPORT_RTC

config RTC_CLOCK_VALUE
    int
    prompt "RTC clock value in Hz."
    default 32768
    depends on DRIVER_SUPPORT_RTC

config RTC_USING_OLD_VERSION
    bool
    prompt "RTC ip using old version, load count must be aligned with 0xF."
    default n
    depends on DRIVER_SUPPORT_RTC

config RTC_SUPPORT_LPM
    bool
    prompt "RTC Support low power resume"
    default n
    depends on DRIVER_SUPPORT_RTC