#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2023-2023. All rights reserved.
#===============================================================================
config PINCTRL_SUPPORT_LPM
    bool
    prompt "PINCTRL Support low power mode, supend and reusme"
    default n
    depends on DRIVER_SUPPORT_PINCTRL