#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2023-2023. All rights reserved.
#===============================================================================
config PDM_USING_V150
    bool
    prompt "Using PDM V150"
    default y
    depends on DRIVER_SUPPORT_PDM

config PDM_USING_V151
    bool
    prompt "Using PDM V151"
    default n
    depends on DRIVER_SUPPORT_PDM

config MIC_CH_NUM
    int
    prompt "Max number of the MIC"
    range 0 3
    default 3
    depends on PDM_USING_V150

config PDM_AFIFO_AEMPTY_TH
    int
    prompt "The atemp to be EMPTY threshold of MIC."
    default 3
    depends on DRIVER_SUPPORT_PDM

config PDM_AFIFO_AFULL_TH
    int
    prompt "The atemp to be FULL threshold of MIC."
    default 16
    depends on DRIVER_SUPPORT_PDM

config PDM_ADC_DC_OFFSET
    int
    prompt "HPF DC Offset."
    default 0
    depends on DRIVER_SUPPORT_PDM

config PDM_CIC_GAIN
    hex
    prompt "The PDM CIC gain."
    default 0x14
    depends on DRIVER_SUPPORT_PDM

config PDM_LP_CIC_GAIN
    hex
    prompt "The Low power PDM CIC gain."
    default 0x0
    depends on DRIVER_SUPPORT_PDM