#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2023-2023. All rights reserved.
#===============================================================================
config DRIVER_DISABLE_OSAL_LOG
    bool
    prompt "disable osal log"
    default n
    help
        This option means turn off osal log.
