#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2022-2022. All rights reserved.
#===============================================================================
config SFC_DEBUG
    bool
    prompt "SFC Support DEBUG"
    default y
    depends on DRIVER_SUPPORT_SFC