#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2022-2022. All rights reserved.
#===============================================================================
menu "Boards"
    comment "Config the drivers of boards."
    osource "drivers/boards/Kconfig"
endmenu

menu "Chips"
    comment "Config the drivers of chips."
    osource "drivers/chips/Kconfig"
endmenu

menu "Drivers"
    comment "Config the drivers."
    osource "drivers/drivers/Kconfig"
endmenu