config LOSCFG_PLATFORM
    string
    default "hi5601_mcu"      if LOSCFG_PLATFORM_HI5601_MCU
    default "hiex"            if LOSCFG_PLATFORM_HIEX || LOSCFG_PLATFORM_HIEX_ES || LOSCFG_PLATFORM_HIEX_NES
    default "suqin_app"       if LOSCFG_PLATFORM_SUQIN_APP
    default "hi1162_app"      if LOSCFG_PLATFORM_HI1162_APP
    default "sushik_app"      if LOSCFG_PLATFORM_SUSHIK_APP
    default "bs21"            if LOSCFG_PLATFORM_BS21

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_SHC
    default LOSCFG_PLATFORM_HI5601_MCU

config LOSCFG_PLATFORM_HI5601_MCU
    bool "hi5601_mcu"
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD

config LOSCFG_PLATFORM_HIEX
    bool "hiex"
    select LOSCFG_ARCH_CORTEX_M55
    select LOSCFG_CORTEX_M_SYSTICK
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_SCHED_LATENCY
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_HIEX_NES
    bool "hiex_nes"
    select LOSCFG_ARCH_CORTEX_M55
    select LOSCFG_CORTEX_M_SYSTICK
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_SCHED_LATENCY
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_HIEX_ES
    bool "hiex_es"
    select LOSCFG_ARCH_CORTEX_M55
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_SECURE_REGION
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_INTERRUPT_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_SUQIN_APP
    bool "suqin_app"
    select LOSCFG_ARCH_LINXCORE_170
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_LCMP_CUSTOM_INST16_EXTENSIONS
    select LOSCFG_LCMP_CUSTOM_INST16_SUB_EXTENSIONS
    select LOSCFG_LCMP_CUSTOM_INST32_EXTENSIONS
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR

config LOSCFG_PLATFORM_HI1162_APP
    bool "hi1162_app"
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR

config LOSCFG_PLATFORM_SUSHIK_APP
    bool "sushik_app"
    select LOSCFG_ARCH_CORTEX_M7
    select LOSCFG_CORTEX_M_NVIC
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD

endchoice
