config LOSCFG_PLATFORM
    string
    default "STM32F769IDISCOVERY"  if LOSCFG_PLATFORM_STM32F769IDISCOVERY

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_STM32
    default LOSCFG_PLATFORM_STM32F769IDISCOVERY

config LOSCFG_PLATFORM_STM32F769IDISCOVERY
    bool "STM32F769IDISCOVERY"
    select LOSCFG_ARCH_CORTEX_M7
    select LOSCFG_CORTEX_M_SYSTICK
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_SCHED_LATENCY
    select LOSCFG_DRIVERS_UART_VENDOR

endchoice
