config LOSCFG_PLATFORM
    string
    default "sd3403v100_dsp" if LOSCFG_PLATFORM_SD3403V100_DSP
    default "sd3403v100_mcu" if LOSCFG_PLATFORM_SD3403V100_MCU
    default "hi3536av100"    if LOSCFG_PLATFORM_HI3536AV100

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_SECRET
    default LOSCFG_PLATFORM_SD3403V100_MCU

config LOSCFG_PLATFORM_SD3403V100_MCU
    bool "sd3403v100_mcu"
    select LOSCFG_PLATFORM_HISI_RISCV
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_ARM_SP804_TIMER
    select LOSCFG_DRIVERS_UART_LINUX

config LOSCFG_PLATFORM_SD3403V100_DSP
    bool "sd3403v100_dsp"
    select LOSCFG_XTENSA_VISIONQ6_V3
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_XTENSA_XEA3_TIMER
    select LOSCFG_XEA3_INT_CONTROLLER
    select LOSCFG_DRIVERS_UART_LINUX

config LOSCFG_PLATFORM_HI3536AV100
    bool "hi3536av100"
    select LOSCFG_PLATFORM_HISI_RISCV
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_ARM_SP804_TIMER
    select LOSCFG_DRIVERS_UART_LINUX

endchoice
