choice
    prompt "Family"

config LOSCFG_FAMILY_BVT
    bool "BVT"
    select LOSCFG_DRIVERS_USE_VENDOR_HISI_CAMERA

config LOSCFG_FAMILY_DPT
    bool "DPT"
    select LOSCFG_DRIVERS_USE_VENDOR_HISI_CAMERA

config LOSCFG_FAMILY_AIOT
    bool "AIOT"

config LOSCFG_FAMILY_STB
    bool "STB"

config LOSCFG_FAMILY_QEMU
    bool "QEMU"

config LOSCFG_FAMILY_STM32
    bool "STM32"

config LOSCFG_FAMILY_SECRET
    bool "SECRET"
    select LOSCFG_DRIVERS_USE_VENDOR_HISI_CAMERA

config LOSCFG_FAMILY_HQ
    bool "HQ"

config LOSCFG_FAMILY_ENERGY
    bool "ENERGY"

config LOSCFG_FAMILY_SHC
    bool "SHC"

config LOSCFG_FAMILY_ASCEND
    bool "ASCEND"

config LOSCFG_FAMILY_DATACOM
    bool "DATACOM"

endchoice

config LOSCFG_FAMILY
    string
    default "aiot" if LOSCFG_FAMILY_AIOT

osource "targets/Kconfig.bvt"
osource "targets/Kconfig.dpt"
osource "targets/Kconfig.aiot"
osource "targets/Kconfig.stb"
osource "targets/Kconfig.qemu"
osource "targets/Kconfig.stm32"
osource "targets/Kconfig.secret"
osource "targets/Kconfig.hq"
osource "targets/Kconfig.energy"
osource "targets/Kconfig.shc"
osource "targets/Kconfig.ascend"
osource "targets/Kconfig.datacom"

config LOSCFG_PLATFORM_ASCEND
    bool
    select LOSCFG_ARM_GENERIC_TIMER
    select LOSCFG_ARM_GIC_V3
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_DRIVERS_UART_LITEOS
    select LOSCFG_DRIVERS_UART_ARM_PL011
    help
        This is genenel setup for 64bit ARMv8 based ascend platforms which should directly
        select this option and add specific processor cores.


config LOSCFG_PLATFORM_HISI_BVT_ARM
    bool
    select LOSCFG_ARM_GIC_V2
    select LOSCFG_ARM_GENERIC_TIMER
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_DRIVERS_UART_LINUX
    help
        This is genenel setup for 32bit ARMv7/8 based platforms which should directly
        select this option and add specific processor cores. For example:

        config LOSCFG_PLATFORM_HI35xxVxxx
            bool "HI35xxVxxx"
            select LOSCFG_ARCH_CORTEX_A7
            select LOSCFG_PLATFORM_HISI_BVT_ARM

config LOSCFG_PLATFORM_HISI_RISCV
    bool
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_ARM_SP804_TIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    help
        This is genenel setup for risc-v based hisilicon platforms which should directly
        select this option and add specific processor cores.

config LOSCFG_USING_BOARD_LD
    bool

config LOSCFG_USING_BOARD_RESET_VECTOR
    bool
    default n
    help
        Use board reset vector instead of arch default implementation.

config LOSCFG_PLATFORM_EXTENDED_FEATURE
    string
    default "normal"  if LOSCFG_PLATFORM_STM32F769IDISCOVERY_N
    default "safety"  if LOSCFG_PLATFORM_STM32F769IDISCOVERY_S
    default "safety_rom"  if LOSCFG_PLATFORM_STM32F769IDISCOVERY_S_ROM

choice
    prompt "Extended Feature"
    depends on LOSCFG_PLATFORM_STM32F769IDISCOVERY

config LOSCFG_PLATFORM_STM32F769IDISCOVERY_N
    bool "normal"

config LOSCFG_PLATFORM_STM32F769IDISCOVERY_S
    bool "safety"
    select LOSCFG_SAFETY_KERNEL

config LOSCFG_PLATFORM_STM32F769IDISCOVERY_S_ROM
    bool "safety_rom"
    select LOSCFG_SAFETY_KERNEL
    select LOSCFG_MULTI_BINARIES
endchoice

config LOSCFG_USING_GCC_NOPIC_LIB
    bool
    default n
    depends on LOSCFG_PLATFORM_HI3892_SE
    help
        When the platform is RISCV, the gcc library is changed to gcc-nopic.

choice
    prompt "Board Type"
    depends on LOSCFG_PLATFORM_ISP_V500
    default LOSCFG_PLATFORM_ISP_V500_NSV

config LOSCFG_PLATFORM_ISP_V500_NSV
    bool "Nashville"
    select LOSCFG_ARM_GENERIC_TIMER
    select LOSCFG_DRIVERS_UART_HQ_UART_V502

config LOSCFG_PLATFORM_ISP_V500_FPGA
    bool "Nashville FPGA"
    select LOSCFG_RISCV_HQTIMER_V510
    select LOSCFG_DRIVERS_UART_HQ_UART_V502

config LOSCFG_PLATFORM_ISP_V500_ESL
    bool "Nashville ESL"
    select LOSCFG_ARM_GENERIC_TIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011

endchoice
