config LOSCFG_PLATFORM
    string
    default "hi3556v200"      if LOSCFG_PLATFORM_HI3556V200
    default "hi3556v200_dcg"  if LOSCFG_PLATFORM_HI3556V200_DCG
    default "hi3516ev200"     if LOSCFG_PLATFORM_HI3516EV200
    default "hi3556av100"     if LOSCFG_PLATFORM_HI3556AV100
    default "hi3559av100"     if LOSCFG_PLATFORM_HI3559AV100
    default "hi3516dv500"     if LOSCFG_PLATFORM_HI3516DV500
    default "hi3516cv610"     if LOSCFG_PLATFORM_HI3516CV610

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_BVT
    default LOSCFG_PLATFORM_HI3556V200

config LOSCFG_PLATFORM_HI3556V200
    bool "hi3556v200"
    select LOSCFG_ARCH_CORTEX_A7
    select LOSCFG_PLATFORM_HISI_BVT_ARM
    select LOSCFG_HW_RANDOM_HISEC_TRNG

config LOSCFG_PLATFORM_HI3556V200_DCG
    bool "hi3556v200_dcg"
    select LOSCFG_ARCH_CORTEX_A7
    select LOSCFG_PLATFORM_HISI_BVT_ARM
    select LOSCFG_HW_RANDOM_HISEC_TRNG

config LOSCFG_PLATFORM_HI3516EV200
    bool "hi3516ev200"
    select LOSCFG_ARCH_CORTEX_A7
    select LOSCFG_ARM_GIC_V2
    select LOSCFG_ARM_SP804_TIMER
    select LOSCFG_ARM_SP804_ADVANCED
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_DRIVERS_UART_LINUX
    select LOSCFG_HW_RANDOM_HISEC_TRNG

config LOSCFG_PLATFORM_HI3556AV100
    bool "hi3556av100"
    select LOSCFG_ARCH_CORTEX_A53_AARCH32
    select LOSCFG_ARM_GIC_V2
    select LOSCFG_ARM_SP804_TIMER
    select LOSCFG_ARM_SP804_ADVANCED
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_DRIVERS_UART_LINUX
    select LOSCFG_HW_RANDOM_HISEC_TRNG

config LOSCFG_PLATFORM_HI3559AV100
    bool "hi3559av100"
    select LOSCFG_ARCH_CORTEX_A53
    select LOSCFG_ARM_GIC_V2
    select LOSCFG_ARM_SP804_TIMER
    select LOSCFG_ARM_SP804_ADVANCED
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_DRIVERS_UART_LINUX
    select LOSCFG_HW_RANDOM_HISEC_TRNG

config LOSCFG_PLATFORM_HI3516DV500
    bool "hi3516dv500"
    select LOSCFG_ARCH_CORTEX_A55
    select LOSCFG_ARM_GIC_V3
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_DRIVERS_UART_LINUX
    select LOSCFG_HW_RANDOM_HISEC_TRNG
    select LOSCFG_ARM_GENERIC_TIMER
	
config LOSCFG_PLATFORM_HI3516CV610
    bool "hi3516cv610"
    select LOSCFG_ARCH_CORTEX_A7
    select LOSCFG_ARM_GIC_V2
    select LOSCFG_ARM_SP804_HRTIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_DRIVERS_UART_LITEOS
    select LOSCFG_HW_RANDOM_HISEC_TRNG
    select LOSCFG_ARM_GENERIC_TIMER
endchoice
