config LOSCFG_PLATFORM
    string
    default "bs20"            if LOSCFG_PLATFORM_BS20
    default "bs21"            if LOSCFG_PLATFORM_BS21
    default "bs21a"           if LOSCFG_PLATFORM_BS21A
    default "bs22"            if LOSCFG_PLATFORM_BS22
    default "bs25"            if LOSCFG_PLATFORM_BS25
    default "bs26"            if LOSCFG_PLATFORM_BS26
    default "ws63"            if LOSCFG_PLATFORM_WS63
    default "suqin_app"       if LOSCFG_PLATFORM_SUQIN_APP
    default "sushik_app"      if LOSCFG_PLATFORM_SUSHIK_APP
    default "socmn1"          if LOSCFG_PLATFORM_SOCMN1
    default "sw39_bt"         if LOSCFG_PLATFORM_SW39_BT

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_AIOT
    default LOSCFG_PLATFORM_BS25

config LOSCFG_PLATFORM_BS20
    bool "bs20"
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR
    select LOSCFG_DRIVERS_USB_DEVICE_NO_DRIVER_BASE

config LOSCFG_PLATFORM_BS21
    bool "bs21"
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR
    select LOSCFG_DRIVERS_USB_DEVICE_NO_DRIVER_BASE

config LOSCFG_PLATFORM_BS21A
    bool "bs21a"
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR
    select LOSCFG_DRIVERS_USB_DEVICE_NO_DRIVER_BASE

config LOSCFG_PLATFORM_BS22
    bool "bs22"
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR
    select LOSCFG_DRIVERS_USB_DEVICE_NO_DRIVER_BASE

config LOSCFG_PLATFORM_BS25
    bool "bs25"
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_ARCH_RISCV_RV32IMC
    select LOSCFG_RISCV_HIMIDEERV200_PLIC
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_ARCH_RISCV_RV32F
    select LOSCFG_ARCH_RISCV32
    select LOSCFG_USING_BOARD_RESET_VECTOR

config LOSCFG_PLATFORM_BS26
    bool "bs26"
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR
    select LOSCFG_DRIVERS_USB_DEVICE_NO_DRIVER_BASE

config LOSCFG_PLATFORM_WS63
    bool "ws63"
    select LOSCFG_ARCH_RISCV_RV32IMC
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_RISCV_HIMIDEERV200_PLIC
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_ARCH_RISCV_RV32F
    select LOSCFG_ARCH_RISCV32
    select LOSCFG_USING_BOARD_RESET_VECTOR

config LOSCFG_PLATFORM_SUQIN_APP
    bool "suqin_app"
    select LOSCFG_ARCH_LINXCORE_170
    select LOSCFG_ARCH_RISCV_RV32F
    select LOSCFG_LCMP_CUSTOM_INST16_EXTENSIONS
    select LOSCFG_LCMP_CUSTOM_INST16_SUB_EXTENSIONS
    select LOSCFG_LCMP_CUSTOM_INST32_EXTENSIONS
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR

config LOSCFG_PLATFORM_SOCMN1
    bool "socmn1"
    select LOSCFG_ARCH_CORTEX_M7
    select LOSCFG_ARCH_FPU_VFP_DP
    select LOSCFG_CORTEX_M_SYSTICK
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_SW39_BT
    bool "sw39_bt"
    select LOSCFG_ARCH_LINXCORE_170
    select LOSCFG_ARCH_RISCV_RV32F
    select LOSCFG_LCMP_CUSTOM_INST16_EXTENSIONS
    select LOSCFG_LCMP_CUSTOM_INST16_SUB_EXTENSIONS
    select LOSCFG_LCMP_CUSTOM_INST32_EXTENSIONS
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR

endchoice
