config LOSCFG_PLATFORM
    string
    default "hc32f4a0"       if LOSCFG_PLATFORM_HC32F4A0
    default "sd5010"         if LOSCFG_PLATFORM_SD5010
    default "stm32h747m4"    if LOSCFG_PLATFORM_STM32H747M4
    default "sd5091_plc"     if LOSCFG_PLATFORM_SD5091_PLC
    default "sd5012_linx131" if LOSCFG_PLATFORM_SD5012_LINX131
    default "sd5091"         if LOSCFG_PLATFORM_SD5091

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_ENERGY
    default LOSCFG_PLATFORM_HC32F4A0

config LOSCFG_PLATFORM_HC32F4A0
    bool "hc32f4a0"
    select LOSCFG_ARCH_CORTEX_M4
    select LOSCFG_CORTEX_M_NVIC
    select LOSCFG_CORTEX_M_SYSTICK
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_SD5010
    bool "sd5010"
    select LOSCFG_ARCH_ARM_926
    select LOSCFG_ARM_V5_VIC
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_STM32H747M4
    bool "stm32h747m4"
    select LOSCFG_ARCH_CORTEX_M4
    select LOSCFG_CORTEX_M_NVIC
    select LOSCFG_CORTEX_M_SYSTICK
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_SD5091_PLC
    bool "sd5091_plc"
    select LOSCFG_ARCH_LINXCORE_170
    select LOSCFG_ARCH_RISCV_ISA_F
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_USING_BOARD_RESET_VECTOR
    select LOSCFG_SAFETY_KERNEL
    select LOSCFG_COMPILE_LIB_WITHOUT_OBJ

config LOSCFG_PLATFORM_SD5012_LINX131
    bool "sd5012_linx131"
    select LOSCFG_ARCH_LINXCORE_131
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_TIMER_VENDOR
    select LOSCFG_DRIVERS_UART_VENDOR

config LOSCFG_PLATFORM_SD5091
    bool "sd5091"
    select LOSCFG_ARCH_CORTEX_A55
    select LOSCFG_ARCH_ARM_AARCH64
    select LOSCFG_ARM_GIC_V3
    select LOSCFG_ARM_SIC
    select LOSCFG_ARM_GENERIC_TIMER

endchoice
