#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2022-2022. All rights reserved.
#===============================================================================

config GPIO_SUPPORT_LPM
    bool
    prompt "GPIO Support low power mode, supend and reusme"
    default y
    depends on DRIVER_SUPPORT_GPIO

config GPIO_SELECT_CORE
    bool
    prompt "GPIO Support choose to select core"
    default n
    depends on DRIVER_SUPPORT_GPIO