#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2022-2023. All rights reserved.
#===============================================================================

choice
    prompt "Choose Chip"

config MIDDLEWARE_CHIP_WS53
    bool "ws53"

config MIDDLEWARE_CHIP_WS63
    bool "ws63"

endchoice

if MIDDLEWARE_CHIP_WS53
menu "Chip Configurations for ws53"
    comment "Config ws53"
    osource "middleware/chips/ws53/Kconfig"
endmenu
endif

if MIDDLEWARE_CHIP_WS63
menu "Chip Configurations for ws63"
    comment "Config ws63"
    osource "middleware/chips/ws63/Kconfig"
endmenu
endif